@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html,
body {
  background-color: #1c3879;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

html::-webkit-scrollbar-thumb {
  background: #1c3879;
}

.container {
  width: 1000px;
  margin: auto;
  position: relative;
}

.line {
  height: 150px;
  width: 2px;
  margin-top: 20px;
}

.btnUp {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.btnUp a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease;
}

.btnUp a:hover {
  color: #0096ff;
  transition: all 0.3s ease;
}

/* Nav CSS */
nav {
  width: 100%;
  background-color: #607eaa;
  line-height: 50px;
  text-align: right;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

nav .navBar {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

nav .navBar::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0px;
  background-color: white;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav .navBar:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Section About */
.myWaves {
  position: absolute;
  top: 0px;
  right: -600px;
  rotate: 180deg;
  z-index: 1;
  width: 2000px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.about .imgAbout {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.about .imgAbout .myPhoto {
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.about .nameHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about .nameHeader .myName {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.about .nameHeader span{
  color: white;
  font-weight: 600;
}

.about .motoHeader {
  margin: 0;
  padding: 0 auto;
}

.about .motoHeader p {
  padding: 5px;
  color: white;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-spacing: -0.05em;
}

/* Section Experience */
.experience {
  width: 100%;
  color: white;
  margin-bottom: 100px;
  position: relative;
  z-index: 2;
}

.experience > h1 {
  text-align: center;
}

.expMain {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.expMain .expNav ul li {
  list-style-type: none;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}

.expNav {
  width: 30%;
}

.expContent {
  width: 70%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  min-height: 400px;
  display: flex;
  align-items: center;
}

.expContent ul > li {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

.expContent ul > li ol > li {
  padding: 5px;
}

.expContent #contentItem {
  display: none;
}

.expContent .active {
  display: block !important;
}

.active {
  background-color: white;
  color: black;
  font-weight: bold;
}

/* Section Project */
.project {
  overflow: hidden;
}

.project .projectContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project .projectTitle {
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.card {
  border: 3px solid white;
  border-radius: 5px;
  width: 320px;
  margin: 10px 5px;
  padding: 20px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translate(0px, 0px);
  transition: transform 0.5s ease;
}

.card:hover {
  transform: translate(0px, -10px);
  transition: transform 0.5s ease;
}

.cardHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

.cardLogo {
  color: #0096ff;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cardButton {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}

.cardButton a {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
}

.cardButton a:hover {
  color: #0096ff;
}

.cardTitle h1 {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: normal;
  min-height: 50px;
}

.cardBody {
  margin-bottom: 10px;
  min-height: 150px;
  max-height: 150px;
  overflow: hidden;
}

.cardBody p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  word-spacing: -0.05em;
  margin-bottom: 20px;
}

.cardFooter {
  width: 100%;
  text-align: center;
}

.cardFooter ul li {
  display: inline-block;
}

.cardFooter ul li i {
  font-size: 30px;
  margin: 5px;
  opacity: 0.7;
}

/* Medsos Icon */
.sosmed {
  margin-top: -10px;
  position: fixed;
  left: 30px;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sosmed a {
  font-size: 25px;
  margin: 10px;
  color: white;
  text-decoration: none;
  transform: scale(1) translate(0px, 0px);
  transition: transform 0.5s ease-out;
}

.sosmed a:hover {
  color: #0096ff;
  transform: scale(1.1) translate(0px, -5px);
  transition: transform 0.25s ease-out;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  background-color: #607eaa;
  color: white;
}

/* @Media For A Screen */
@media screen and (min-width: 375px) {
  .container {
    width: 350px;
  }

  .line {
    display: none;
  }

  .sosmed {
    display: none;
  }

  .btnUp {
    bottom: 70px;
    right: 20px;
  }

  nav {
    text-align: center;
  }

  .about {
    height: 165vh;
  }

  .expMain {
    flex-direction: column;
    margin-top: 30px;
  }

  .expNav {
    width: 100%;
  }

  .expMain .expNav ul li {
    border-radius: 10px 10px 0px 0px;
  }

  .expContent {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }
  .card {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  footer {
    font-size: 15px;
  }
}
@media screen and (min-width: 411px) {
  .container {
    width: 350px;
  }

  .line {
    display: none;
  }

  .sosmed {
    display: none;
  }

  .btnUp {
    bottom: 70px;
    right: 20px;
  }

  nav {
    text-align: center;
  }

  .about {
    height: 145vh;
  }

  .expMain {
    flex-direction: column;
    margin-top: 30px;
  }

  .expNav {
    width: 100%;
  }

  .expMain .expNav ul li {
    border-radius: 10px 10px 0px 0px;
  }

  .expContent {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }
  .card {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  footer {
    font-size: 15px;
  }
}
/* @media screen and (min-width: 540px) {

} */
@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }

  .line {
    display: none;
  }

  .sosmed {
    display: none;
  }

  .btnUp {
    bottom: 70px;
    right: 20px;
  }

  nav {
    text-align: center;
  }

  .about {
    height: 80vh;
    margin-bottom: 100px;
  }

  .expMain {
    flex-direction: row;
    margin-top: 30px;
  }

  .expNav {
    width: 30%;
  }

  .expMain .expNav ul li {
    border-radius: 10px 0px 0px 10px;
  }

  .expContent {
    width: 70%;
    border-radius: 10px;
  }
  .card {
    justify-content: center;
    align-items: center;
    width: 320px;
  }

  footer {
    font-size: 15px;
  }

  .project .projectContent {
    justify-content: center;
  }

  .cardBody {
    margin-bottom: 10px;
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
  }

  .cardTitle h1 {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  /* .container {
    margin: 0px 50px;
  }

  .about {
    padding-right: 10px;
    padding-left: 10px;
    width: 900px;
  }

  .about .nameHeader .myName {
    font-size: 26px;
  }

  .about .motoHeader p {
    font-size: 16px;
  }

  .about .sosmedHeader a {
    font-size: 20px;
  }

  .about .imgHeader {
    width: 200px;
    height: 200px;
  }

  .cardTitle h1 {
    font-size: 18px;
  }

  .cardBody p {
    font-size: 12px;
  }

  .cardButton a {
    width: 120px;
    font-size: 12px;
  } */
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1000px;
  }

  .line {
    display: block;
  }

  .sosmed {
    display: flex;
  }

  .btnUp {
    bottom: 70px;
    right: 20px;
  }

  nav {
    text-align: center;
  }

  .about {
    height: 100vh;
    margin-bottom: 100px;
  }

  .expMain {
    flex-direction: row;
    margin-top: 30px;
  }

  .expNav {
    width: 30%;
  }

  .expMain .expNav ul li {
    border-radius: 10px 0px 0px 10px;
  }

  .expContent {
    width: 70%;
    border-radius: 10px;
  }
  .card {
    justify-content: center;
    align-items: center;
    width: 320px;
  }

  footer {
    font-size: 15px;
  }

  .project .projectContent {
    justify-content: left;
  }

  .cardBody {
    margin-bottom: 10px;
    min-height: 150px;
    max-height: 150px;
    overflow: hidden;
  }

  .cardTitle h1 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
}
